
body{
    font-family: 'Times New Roman', bold;
    border: dotted yellow;
    text-align: center;
    font-size: large;
    background-color: orange;
    

}

h2{
    background-color: bisque
    
}